<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monitoringtool.awarebrowser">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_browser"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aware"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_browser"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/Theme.Browser"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>

        <receiver android:name=".BrowserClosedReceiver">
            <intent-filter>
                <action android:name="ACTION_AWARE_CLOSE_BROWSER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ESMAnswerReceiver">
            <intent-filter>
                <action android:name="ACTION_AWARE_ESM_DISMISSED" />
                <action android:name="ACTION_AWARE_ESM_ANSWERED" />
                <action android:name="ACTION_AWARE_ESM_EXPIRED" />
                <action android:name="ACTION_AWARE_ESM_QUEUE_COMPLETE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BrowserPlugin"
            android:exported="true"></service>

        <provider
            android:name=".Browser_Provider"
            android:authorities="${applicationId}.provider.browserplt"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.ESM_Provider"
            android:authorities="${applicationId}.provider.esm"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Telephony_Provider"
            android:authorities="${applicationId}.provider.telephony"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Traffic_Provider"
            android:authorities="${applicationId}.provider.traffic"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Network_Provider"
            android:authorities="${applicationId}.provider.network"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.plugin.google.activity_recognition.Google_AR_Provider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".EndOfStudyNotificationService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
        <receiver
            android:name=".EndOfStudyAlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".EndMessageActivity"
            android:theme="@style/Theme.Transparent"></activity>
    </application>

</manifest>
